/* website styles */
* {
    font-size: 100%;
    margin: 0;
    line-height: 1;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

h1 {
    color: rgb(152, 30, 30);
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border-bottom: 7px solid grey;
    background-image: url("images/triangles_pattern.webp");
    background-repeat: repeat;
}

body {
    background-color: salmon;
    /* background-color: grey; */
    color: firebrick;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    margin: 50px;
    }

p {
    color: black;
    line-height: 2;
    margin: 15px 0;
}

ul {
    color: black;
}

ol {
    color: black;
}

ul, ol {
    margin: 15px 0;
}

.title {
    font-size: 48px;
}

h2 {
    color: rgb(101, 17, 17);
    background-color: rgb(157, 146, 146);
    padding: 5px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    }

h3 {
    color: rgb(119, 10, 10);
    background-color: rgb(94, 89, 89);
    padding: 5px;
    text-align: center;
    font-size: 30px
}

h4 {
    color: rgb(137, 11, 11);
    background-color: rgb(103, 103, 103);
    padding: 6px;
    text-align: center;
    font-size: 27px;
}

h5 {
    color: rgb(110, 36, 36);
    background-color: grey;
    padding: 7px;
    text-align: center;
    font-size: 25px;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    font-style: italic;
    margin: 20px;
}

.ingredients {
    padding: 20px 10px 30px 50px;  
}

.directions {
    padding: 20px 10px 30px 50px;
}

.ingredient-2 {
    padding: 30px 20px 40px 80px;
}

.directions-2 {
    padding: 30px 20px 40px 80px;
}

.ingredients-3 {
    padding: 20px 10px 30px 50px;
}

.directions-3 {
    padding: 20px 10px 30px 50px;
}


footer p {
    color: purple;
    background-color: grey;
    font-size: 15px;
    margin: auto;
}

section li {
    color: black;
}

a {
    color: purple;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, section, footer {
    padding: 30px;
}

section {
    border: 1px solid grey;
}

#section {
    width: 70%;
    height: 50%;
    margin: 0 auto;
}

img {
    width: 400px;
    height: 300px;
}

.image-center {
    display: block;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
}

.box {
    background-image: url(file.jpg);
    width: 100px;
    height: 100px;
}
.banner {
    height: 250px;
    background-image: url(images/Recipe\ love.jpg);
    background-size: 20%;
    background-repeat: repeat;
    background-position: centers;
}
.banner2 {
    height: 200px;
    background-image: url(images/pexels-rdne-stock-project-5737464.jpg);
    background-size: 30%;
    background-repeat: repeat;
    background-position: center;
}








