body{
    background-color: salmon;
    color: firebrick;
    font-family: 'Indie Flower', cursive;
}

p{
    color: black;
}

ul{
    color: black;
}

ol{
    color: black;
}

h1{
    color: firebrick;
    font-style: italic;
    font-size: 30px;
}

